<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <h4 class="text-center">Thông tin sinh viên</h4>
        <img
          class="w-100"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa7JJJpoTxyFZn4tUR-kU9zinr1PNNfs8TDXo8nG7MfqyObBq3E2cRQZvX1JXGS30E5i4&usqp=CAU"
          alt=""
        />
        <p class="student text-center">Họ tên: {{ student.name }}</p>
        <p class="student text-center">Ngày sinh: {{ student.dob }}</p>
        <p class="student text-center">Giới tính: {{ student.gender }}</p>
        <p class="student text-center">Điểm trung bình: {{ student.gpa }}</p>
      </div>
    </div>
  </div>
</div>
